################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
*.vsidx
/.vs/Route Setter/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/.vs/Route Setter/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/RouteSetter/.vs
/.vs
/.vs
RouteSetter/obj/Debug/RouteSetter.csproj.AssemblyReference.cache
*.cache
/RouteSetter/bin
